[Unit]
Description=Configure Anatase Flatpak repositories
After=local-fs.target
Before=flatpak-system-helper.service
RequiresMountsFor=/var/lib/flatpak

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak remote-modify --title "Anatase" --prio=10 --url oci+https://flatpaks.anatase.org/%distro% --gpg-verify --gpg-import=/usr/share/anatase/keys/anatase-gpg.pub.asc --signature-lookaside=https://flatpaks.anatase.org/gpg anatase
ExecStart=/usr/bin/flatpak remote-modify --title "Flathub" --url https://dl.flathub.org/repo/ --filter=/usr/share/flatpak/filters/flathub.filter flathub

[Install]
WantedBy=multi-user.target
