[Unit]
Description=Register Anatase-managed Flatpak extensions
Before=flatpak-system-helper.service anatase-flatpaks.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/anatase-flatpak-extensions start
ExecStop=/usr/libexec/anatase-flatpak-extensions stop

[Install]
WantedBy=multi-user.target
