[Unit]
Description=Create an empty-password KWallet for passwordless users
PartOf=graphical-session.target
After=plasma-kwallet-pam.service
Before=xdg-desktop-autostart.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/anatase-empty-password-kwallet

[Install]
WantedBy=plasma-workspace.target
