[Unit]
Description=nvidia-powerd service
StartLimitIntervalSec=infinity
StartLimitBurst=5

[Service]
Type=simple
ExecCondition=/usr/bin/sh -c 'grep -qs "^pci:v000010DE" /sys/bus/pci/devices/*/modalias'
# Not all the hardware can use nvidia-powerd:
ExecStart=-/usr/bin/nvidia-powerd
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
