[Desktop Entry]
Name=Gamemode
Comment=Gamemode session powered by Gamescope
Exec=/usr/libexec/plasma-dbus-run-session-if-needed /usr/bin/anatase-gamemode
TryExec=/usr/bin/anatase-gamemode
Type=Application
DesktopNames=gamescope
