[Desktop Entry]
Name=Gamemode
Comment=Gamemode session powered by Gamescope
Exec=/usr/bin/anatase-gamemode-session
Type=Application
DesktopNames=gamescope
