# Minimal boot-success handling for bootupd static GRUB configs.
insmod increment

set timeout_style=menu
set timeout=2

if [ x"${menu_auto_hide}" = x ]; then
  set menu_auto_hide=2
fi

# The boot_counter env var can be used to count down boot attempts after an
# OSTree upgrade and choose the rollback deployment when 0 is reached.
if [ -n "${boot_counter}" -a "${boot_success}" = "0" ]; then
  if [ "${boot_counter}" = "0" -o "${boot_counter}" = "-1" ]; then
    set default=1
    set boot_counter=-1
  else
    decrement boot_counter
  fi
  if [ "${env_block}" ]; then
    save_env -f "${env_block}" boot_counter
  else
    save_env boot_counter
  fi
fi

# Hiding the menu is ok if the previous boot reached userspace or if this is
# the first boot attempt and boot_success has not been initialized yet.
if [ x"${boot_success}" = x -o "${boot_success}" = "1" ]; then
  set menu_hide_ok=1
else
  set menu_hide_ok=0
fi

set boot_success=0
if [ "${env_block}" ]; then
  save_env -f "${env_block}" boot_success
else
  save_env boot_success
fi

if [ -f $prefix/otheros.cfg ]; then
  set found_other_os=1
fi

if [ x$feature_timeout_style = xy ]; then
  if [ "${menu_show_once}" ]; then
    unset menu_show_once
    if [ "${env_block}" ]; then
      save_env -f "${env_block}" menu_show_once
    else
      save_env menu_show_once
    fi
    set timeout_style=menu
    set timeout=60
  elif [ "${menu_hide_ok}" = "1" ]; then
    if [ "${menu_auto_hide}" = "2" -o \( "${menu_auto_hide}" = "1" -a "${found_other_os}" != "1" \) ]; then
      if [ "${fastboot}" = "1" ]; then
        set timeout_style=menu
        set timeout=0
      else
        set timeout_style=hidden
      fi
    fi
  fi
fi
